<a href="https://colab.research.google.com/github/tinashekm/Second-Assessment/blob/main/Second_Assessment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Import the required libraries
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt
import ipywidgets as widgets

# Connect to a SQLite database
conn = sqlite3.connect('example.db')

# Create a cursor object to execute SQL queries
cursor = conn.cursor()

# Create a table
cursor.execute('''CREATE TABLE IF NOT EXISTS employees
                  (id INTEGER PRIMARY KEY, name TEXT, age INTEGER)''')

# Insert sample data into the table
cursor.execute("INSERT INTO employees VALUES (1, 'John Doe', 25)")
cursor.execute("INSERT INTO employees VALUES (2, 'Jane Smith', 30)")
cursor.execute("INSERT INTO employees VALUES (3, 'Bob Johnson', 35)")

# Commit the changes to the database
conn.commit()

# Retrieve data from the table
cursor.execute("SELECT * FROM employees")
rows = cursor.fetchall()

# Convert the query result to a Pandas DataFrame
df = pd.DataFrame(rows, columns=['ID', 'Name', 'Age'])

# Display the DataFrame
df

# Create a bar plot using Matplotlib
plt.bar(df['Name'], df['Age'])
plt.xlabel('Name')
plt.ylabel('Age')
plt.title('Employee Ages')
plt.show()

# Create an interactive widget
slider = widgets.IntSlider(value=50, min=0, max=100, step=1, description='Slider:')
slider

In [ ]:
#Connecting to SQLite3 database to access emails
database = sqlite3.connect('Enronemaildataset.db')

In [ ]:
#Create a cursor object to execute SQL Queries
cursor = conn.cursor()

In [ ]:
#Create a table
cursor.execute('''Create table employees(id INTEGER PRIMARY KEY, name TEXT, age INTERGER)''')

In [ ]:
#insert sample data into the table
cursor.execute("INSERT INTO employees VALUES (1, 'John Doe', 25)")
cursor.execute("INSERT INTO employees VALUES (2, 'Jane Smith', 30)")
cursor.execute("INSERT INTO employees VALUES (3, 'Bob Johnson', 35)")

In [ ]:
#Commit the changes to the database 
conn.commit()

In [ ]:
#Retrieve data from the table 
cursor.execute("SELECT * FROM EMPLOYEES")
rows = cursor.fetchfall()

In [ ]:
#Convert the query result to a Pandas Dataframe
df = pd.DataFrame(rows, columns=['ID', 'Name', 'Age'])

In [ ]:
#Display dataframe
df

In [ ]:
#Create a bar plot using Matplotlib
plt.bar(df['Name'], df['Age'])
plt.xlabel('Name')
plt.ylabel('Age')
plt.title('Employee ages')
plt.show()

In [ ]:
#Create an interactive widget
slider = widgets.IntSlider(value=50, min=0, max=100, step=1, description='Slider:')
slider

In [ ]:
!pip install pandas
!pip install matplotlib
!pip install ipywidgets

In [ ]:
# Import the required libraries
import sqlite3

# Connect to the Enron Email SQLite database
conn = sqlite3.connect('enron_emails.db')

# Create a cursor object to execute SQL queries
cursor = conn.cursor()

# Get the list of tables in the database
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

# Print the table names
for table in tables:
    print("Table:", table[0])
    print("------")

    # Get the schema of each table
    cursor.execute("PRAGMA table_info(" + table[0] + ");")
    columns = cursor.fetchall()

    # Print the column names and their data types
    for column in columns:
        print("Column:", column[1])
        print("Type:", column[2])
        print("------")

    print("\n")

# Close the database connection
conn.close()

In [ ]:
# Import the required libraries
import sqlite3
import pandas as pd

# Connect to the Enron Email SQLite database
conn = sqlite3.connect('enron_emails.db')

# Write SQL queries to extract relevant information
query = """
    SELECT sender, recipient, date, subject
    FROM emails
    WHERE date >= '2000-01-01' AND date < '2001-01-01'
"""

# Load the query results into a Pandas DataFrame
df = pd.read_sql_query(query, conn)

# Close the database connection
conn.close()

# Perform data manipulation tasks
# Filter the DataFrame based on specific conditions
filtered_df = df[df['sender'] == 'john.doe@enron.com']

# Group the DataFrame by a specific column
grouped_df = df.groupby('recipient').count()

# Perform aggregation on specific columns
aggregated_df = df.groupby('sender').agg({'subject': 'count', 'recipient': 'nunique'})

# Clean and preprocess the data
# Handle missing values
cleaned_df = df.dropna()

# Address inconsistent values
cleaned_df['sender'] = cleaned_df['sender'].str.lower()

# Address inconsistent date formats
cleaned_df['date'] = pd.to_datetime(cleaned_df['date'])

# Print the cleaned and preprocessed DataFrame
print(cleaned_df.head())